/* Banner */
.banner {
    &__item {
        height: 250px;
        padding: 0;
        background-color: @white;
    }
    &__image {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover;
    }
    &__heading {
        color: @black;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        margin-top: 11px;
    }
    &__item-text {
        color: @gray;
        font-size: 14px;
        text-align: center;
        margin-bottom: 38px;
    }
    &__icon {
        margin-top: 30px;
        height: 70px;
    }
    &-row {
        box-shadow: 1px 1px 10px 1px @shadow;
        margin-top: -77px;
        margin-left: 0;
        margin-right: 0;
    }
}

/* Product */
.product {
    margin-top: 20px;
    &-tab-row {
        border-bottom: 1px solid @border;
        margin-bottom: 10px;
        margin-left: 0;
        margin-right: 0;
        
    }
    &-item-row {
        margin-top: 25px;
    }
}
.product-tab-row {
    border-bottom: 1px solid @border;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    
}
.product__tab-item {
    padding:  16px 19px 13px 18px;
    font-size: 18px;
    font-weight: @bold;
    text-transform: uppercase;
    &--active {
        color: @red;
        border-bottom: 2px solid @red;
        margin-bottom: -1px;
    }
}
.product-item-row {
    margin-top: 25px;
}
.product__item {
    height: 330px;
    //max-width: calc(25% - 30px);
    position: relative;
    //padding: 0;
    margin-top: 15px;
    margin-bottom: 32px;
    color: @black;
    &:hover {
        color: black;
    }
    &:hover::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 15px;
        right: 15px;
        box-shadow: 0 0 3px 1px @shadow;
    }
    &-select {
        position: absolute;
        top: 20px;
        right: 35px;
        height: 180px;
        display: none;
        i {
            padding: 9px;
            font-size: 14px;
            border-radius: 5px 0 5px 0;
            border: 1px solid @border;
            color: @gray;
            &:hover {
                background-color: @red;
                color: @white;
            }
        }
    }
    &-image {
        width: 100%;
        margin-bottom: 28px;
        img {
            margin-left: auto;
            margin-right: auto;
        }
    }
    &-title {
        font-size: 14px;
        margin-left: 30px;
    }
    &-price {
        .product__item-title;
        font-weight: @bold;
        margin-top: -3px;
        &.special {
            color: @red;
        }
        &.old {
            text-decoration: line-through;
        }
    }
}
.product__item-select {
    position: absolute;
    top: 20px;
    right: 35px;
    height: 180px;
    display: none;
    z-index: 10;
    i {
        padding: 9px;
        font-size: 14px;
        border-radius: 5px 0 5px 0;
        border: 1px solid @border;
        color: @gray;
        &:hover {
            background-color: @red;
            color: @white;
        }
    }
}
.product__item-image {
    width: 100%;
    margin-bottom: 28px;
    img {
        margin-left: auto;
        margin-right: auto;
    }
}
.product__item-title,
.product__item-price {
    font-size: 14px;
    margin-left: 30px;
}
.product__item-price {
    font-weight: @bold;
    margin-top: -3px;
}

/* Client say */
.client-say {
    &-row {
        border-bottom: 1px solid @border;
        margin: 0;
    }
    &-col {
        min-height: 549px;
        padding: 0;
    }
    &__title {
        font-size: 36px;
        font-weight: @bold;
        margin-top: 57px;
        margin-bottom: 46px;
        text-align: center;
    }
    &__text {
        font-size: 18px;
        color: @gray;
        text-align: center;
        margin-top: 23px;
        margin-bottom: 26px;
        line-height: 30px;
        &-bot {
            font-size: 14px;
            color: @gray;
        }
    }
    &__name {
        font-size: 18px;
        font-weight: @bold;
        text-transform: uppercase;
        margin-bottom: 8px;
    }
    &__dot {
        li {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: @carousel-indicators-bg;
            margin: 0 5px;
        }
    }
}

/* Brand */
.brand {
    &-row {
        min-height: 150px;
    }
    &__logo {
        margin: 40px 0;
        img {
            //width: 123px;
            -o-object-fit: none;
               object-fit: none;
        }
    }
}

