/* Footer */
.footer {
    background-color: @footer-bg;
    color: @gray;
    .container {
        padding-top: 30px;
    }
    &__top {
        margin: 0 0 72px 0;
        border-bottom: 1px solid @footer-line;
        &-logo {
            margin-top: 100px;
            margin-bottom: 32px;
        }
        &-text {
            margin-bottom: 42px;
            text-align: center;
            font-size: 14px;
            line-height: 25px;
        }
        &-social {
            margin-bottom: 60px;
            margin-left: 50px;
            &-icon {
                width: 20px;
                margin-right: 45px;
                color: @gray;
                i {
                    font-size: 18px;
                }
            }
        }
    }
    &__bot {
        &-title {
            color: @white;
            font-size: 18px;
            font-weight: @bold;
            text-transform: uppercase;
            margin-bottom: 28px;
        }
        &-item {
            margin: 19px 0;
            font-size: 14px;
            i {
                margin-right: 15px;
                width: 14px;
            }
            p {
                margin: 0;
            }
            a {
                color: @gray;
            }
        }
    }
}


/* Copyright */
.copyright {
    background-color: @copyright-bg;
    font-size: 14px;
    color: @gray;
    &__text {
        width: 100%;
        height: 50px;
        p {
            margin: 0;
            text-align: center;
        }
    }
}