@import './base/_header.less';
@import './base/_footer.less';
@import './content/_home_page_content.less';
@font: Roboto;
@bold: 600;
@header-title-font-size: 60px;
@header-menu-font-size: 16px;
@text-size: 14px;
@gray: #777777;
@red: #dd2f31;
@white: #ffffff;
@black: #000000;
@header-bar-bg: rgb(170, 102, 0);
@menu-mb-bg: rgba(0,0,0,0.9);
@shadow: rgba(0,0,0,0.1);
@border: #dddddd;
@carousel-indicators-bg: #cccccc;
@footer-bg: #222222;
@footer-line: #444444;
@copyright-bg: #111111;


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/*  */
body {
    font-family: @font;
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
img {
    display: block;
    max-width: 100%;
}
.container {
    max-width: 1200px;
}
span {
    color: @white;
}
.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.carousel-indicators {
    .active {
        background-color: @red;
    }
}
@media all and(max-width: 396px){
    .carousel-indicators {
        bottom: -50px;
    }
}
a {
    color: @black;
}
a:hover {
    text-decoration: none;
}
.carousel-item {
    img {
        height: 400px;
        width: 100%;
        object-fit: cover;
    }
}
.category-slide {
    margin-top: 20px;
}
.category {
    color: @white;
    .category__list {
        height: 400px;
    }
    .category__item {
        border-bottom: solid;
        border-width: 0.5px;
        padding: 10px;
        background-color: @footer-bg;
        a {
            color: @white;
            width: 100%;
        }
        span {
            margin-left: 10px;
        }
    }
}
.header__logo {
    img {
        height: 50px;
    }
}

.slick-list .slick-track img {
    height: 400px;
    object-fit: cover;
}

.product_qty {
    width: 40px;
    height: 25px;
}

.product-image {
    height: 300px;
    width: 400px;
}

.price {
    margin-bottom: 12px;
}

.right-side {
    .row {
        margin: 0;
    }
    .popular-products {
        min-width: 100%;
    }
    .product-tab-row {
        border-bottom: 1px solid @red;
    }
    .product__item-image {
        width: 50px;
        height: 50px;
        margin: 0;
    }
    .product__tab-item {
        border: none;
        font-size: 15px;
        padding: 0 0 10px 0;
    }
    .product__item {
        height: 70px;
        margin-bottom: 0;
        &::before {
            display: none;
        }
    }
}

.description {
    .product-tab-row {
        border-bottom: 1px solid @red;
        width: 100%;
    }
    .product__tab-item {
        border: none;
    }
}

.breadcrumb {
    a {
        color: @black;

    }
}

.pagination {
    justify-content: flex-end;
    margin-bottom: 20px;
    .page-item.active span.page-link {
        background-color: @black;
        border-color: @black;
    }
    a.page-link {
        color: @black;
    }
}

.news-item {
    a,
    span {
        color: @black;
    }
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid @gray;
}

.news-head {
    img {
        object-fit: none;
        margin-top: 20px;
    }
}

.new-news {
    width: 100%;
    a {
        padding: 10px 0;
        span {
            color: @black;
            margin-left: 0;
        }
    }
}

.news-content {
    margin-top: 50px;
}

.input-group-text {
    width: 40px;
}

.spinner-border {
    float: right;
    height: 20px;
    width: 20px;
    display: none;
}

.dathang {
    float: right;
}

.dangxuat,
.phanhoi {
    float: right;
    a {
        color: @white;
    }
}

.dataTables_wrapper {
    width: 100%;
}

.time {
    float: right;
}

.noidung {
    border-bottom: 1px solid #ced4da;
    padding-bottom: 5px;
}

.noidung-wrapper {
    max-height:300px;
}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.price {
    &.special {
        color: @red;
    }
    &.old {
        text-decoration: line-through;
    }
}